$color-primary: #f7e51e;
$color-secondary: #cd2226;
$color-tertiary: #0c78ed;
$color-light: #f1f1f1;
$color-dark-gray: #141414;

$navbar-height: 100px;
$px: 5%;
$px-sm: 16px;
$py: 40px;
$py-sm: 16px;
