:root {
  --primary-color: #f27a1a;
  --account-link-color: #333333;
  --primary-backgound: #ffffff;
  --light-gray: #999999;
  --dark-gray: #666666;
  --border-color: #e6e6e6;
  --border-light-color: #e2e2e2;
  --radio-border-color: #d6d6d6;
  --account-link-hover-color: var(--primary-color);
  --like-button-z: 2;
  --overlay-z: 3;
  --dropdown-z: 4;
  --top-navigation-z: 5;
  --header-z: 6;
  --container-width: 1080px;
}
