.pagination {
  width: 100%;
  padding: 0 $px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  .clear-search-btn {
    height: 30px;
    padding: 0 20px;
    border-radius: 6px;
    border: none;
    background-color: #d66262;
    color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
    cursor: pointer;
  }

  .clear-search-btn:hover {
    background-color: #a52f2f;
  }

  .page-btns-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .page-btn {
      padding: 0 6px;
      height: 30px;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      background-color: $color-primary;
      color: $color-tertiary;
      cursor: pointer;
    }

    .page-btn.active {
      background-color: $color-tertiary;
      color: $color-secondary;
    }

    .page-btn:hover {
      background-color: $color-tertiary;
      color: $color-secondary;
    }

    span {
      height: 30px;
      margin: 0 8px;
      padding: 0 6px;
      border-radius: 6px;
      font-size: 14px;
      background-color: $color-secondary;
      color: darken($color-secondary, 40);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Media Queries
@media (max-width: 768px) {
  .pagination {
    padding: 0 $px-sm;
  }
}
